---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&code=test-auth-code&client_id=dummy_id&client_secret=dummy_secret&redirect_uri=http%3A%2F%2F127.0.0.1%3A3999%2Fsign_in%2Foauth%2Ffacebook%2Fcallback
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=dummy-token-information
  recorded_at: Fri, 12 Oct 2012 13:21:20 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Bearer dummy-token-information
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      etag:
      - ! '"scrubbed"'
      last-modified:
      - '2012-09-26T17:01:10+0000'
    body:
      encoding: US-ASCII
      string: ! '{"id":"123456789","name":"Test Facebook","first_name":"Test","last_name":"Facebook","link":"http:\/\/www.facebook.com\/test-facebook-user","username":"test-facebook-user","work":[{"employer":{"id":"23456789","name":"Dockyard"}}],"gender":"male","timezone":-4,"locale":"en_US","verified":true,"updated_time":"2012-09-26T17:01:10+0000"}'
  recorded_at: Fri, 12 Oct 2012 13:25:55 GMT
recorded_with: VCR 2.2.1
