---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&code=test-auth-code&client_id=dummy_id&client_secret=dummy_secret&redirect_uri=http%3A%2F%2F127.0.0.1%3A3999%2Fsign_in%2Foauth%2Fgoogle%2Fcallback
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{ \"access_token\" : \"dummy-access_token\", \"token_type\" : \"Bearer\",  \"expires_in\" : 3377,  \"id_token\" : \"dummy-id_token\"}"
  recorded_at: Thu, 11 Oct 2012 14:50:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/oauth2/v1/userinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Bearer dummy-acces_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"id\": \"123456789\",\n \"name\": \"Test User\",\n
        \"given_name\": \"Test\",\n \"family_name\": \"User\",\n \"link\": \"https://plus.google.com/dummy-data\",\n
        \"gender\": \"male\",\n \"birthday\": \"0000-01-01\",\n \"locale\": \"en\"\n}\n"
  recorded_at: Thu, 11 Oct 2012 15:12:13 GMT
recorded_with: VCR 2.2.1
