---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/uas/oauth/requestToken?scope=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: oauth_token=dummy-token&oauth_token_secret=dummy-secret&oauth_callback_confirmed=true&xoauth_request_auth_url=https%3A%2F%2Fapi.linkedin.com%2Fuas%2Foauth%2Fauthorize&oauth_expires_in=599
  recorded_at: Tue, 16 Oct 2012 13:46:22 GMT
- request:
    method: post
    uri: https://api.linkedin.com/uas/oauth/accessToken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    headers:
      www-authenticate: []
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    body:
      encoding: US-ASCII
      string: oauth_token=dummy-token&oauth_token_secret=dummy-secret&oauth_expires_in=5183842&oauth_authorization_expires_in=5183842
  recorded_at: Tue, 16 Oct 2012 13:46:25 GMT
- request:
    method: get
    uri: http://api.linkedin.com/v1/people/~?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-li-request-id:
      - HBJ6PP2062
      x-li-format:
      - json
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: "{ \"firstName\": \"Test\", \"headline\": \"\", \"lastName\": \"User\", \"siteStandardProfileRequest\": {\"url\": \"http://www.linkedin.com/profile?viewProfile=&key=123456789&authToken=dummy&authType=name&trk=token\"}}"
  recorded_at: Tue, 16 Oct 2012 13:53:51 GMT
recorded_with: VCR 2.2.1
