<!DOCTYPE html>
<html>
<head>
  <title>EasyAuth</title>
  <%= stylesheet_link_tag    "easy_auth/application", :media => "all" %>
  <%= javascript_include_tag "easy_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
